DATABASE_URL=
SELF_URL=
VITE_SELF_URL=
RESEND_API_KEY=
ELECTRIC_SECRET=
ELECTRIC_URL=
EMAIL_SENDER_NAME=
EMAIL_SENDER_ADDRESS=
BETTER_AUTH_DOMAIN=
BETTER_AUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
AI_GATEWAY_API_KEY=